


<section class="header pb-5 text-center">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12">
        <!-- Effect 1-->
        <div class="card effect-1">
            <div class="card-body p-5">
                <h1>{{postDetails.title}}</h1>
                <hr class="dashed">
                <p class="font-italic text-muted">{{postDetails.description}}</p>
                <hr class="dashed">
                <a class="btn btn-secondary mt-4" style="float: left;" [routerLink]="['/admin/posts']"><i class="fa fa-arrow-left"></i> Back </a>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
