<div class="card">
  <div class="card-body">
    <h2 class="h5 mb-3 text-muted">Add New Post</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-control-label">Title</label>
        <input type="text" formControlName="title" placeholder="Title" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.title?.errors }" />

        <div *ngIf="submitted && f.title?.errors" class="invalid-feedback">
          <div *ngIf="f.title?.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">Description</label>
        <textarea rows="6" formControlName="description" placeholder="Description" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description?.errors }"></textarea>

        <div *ngIf="submitted && f.description?.errors" class="invalid-feedback">
          <div *ngIf="f.description?.errors.required">Description is required</div>
        </div>

      </div>
      <div class="form-group justify-content-center d-block">
        <button type="submit" class="btn btn-primary">Add New Post</button>
      </div>
    </form>
  </div>
</div>
